<!DOCTYPE html>
<html>
<head>
    <title>Outlook</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
    <body>
    <header class="header">
        <section class="menu">
            <a href="#"><i class="fas fa-th"></i></a>
            <a href="#"><p>OUTLOOK</p></a>
        </section>
        <section class="searcher">
            <i id="i-searcher" class="fas fa-search"></i>
            <input value="Buscar" type="text" name="searcher">
        </section>
        <section class="nav-top-header">
            <ul>
                <li><a href="#"><i class="fas fa-video"></i>Reunirse ahora</a></li>
                <li><a href="#"><i class="fab fa-skype"></i></a></li>
                <li><a href="#"><i class="fas fa-cog"></i></a></li>
                <li><a href="#"><i class="fas fa-question"></i></a></li>
                <li><a href="#"><img src="images/Franco.jpeg" alt=""></a></li>
            </ul>
        </section>
    </header>