<section class="section-nav">

        <section class="fav">

                <li class="title"><a href="#">
                    <i class="fas fa-chevron-down"></i><p>Favoritos</p>
                </a></li>

                <ul>
                    <li> <a href="#">
                        <i class="far fa-paper-plane"></i><p>Elementos enviados</p>
                    </a> </li>
                    <li> <a href="#">
                        <i class="fas fa-pencil-alt"></i><p>Borradores</p>
                    </a> </li>
                    <li> <a href="#">
                        <i class="fas fa-inbox"></i><p>Bandeja de entrada</p>
                    </a> </li>
                    <li> <a href="#">
                        <i class="far fa-trash-alt"></i><p>Elementos eliminados</p>
                    </a> </li>
                </ul>
        </section>

        <section class="folders">
            <li class="title"><a href="#">
                <i class="fas fa-chevron-down"></i><p>Carpetas</p>
            </a></li>
                <ul>
                    <li>
                        <a href="#"><i class="fas fa-ban"></i><p>Correo no deseado</p></a>  
                    </li>
                    <li>
                        <a href="#"><i class="far fa-calendar-minus"></i><p>Scheduled</p></a>      
                    </li>
                    <li>
                        <a href="#"><i class="far fa-sticky-note"></i><p>Notes</p></a>     
                    </li>
                </ul>

        </section>

        <section class="info">
            <a href="#">
                <i class="far fa-gem"></i>
                <p>Actualizar a Microsoft 365 con Caracteristicas de Outlook Premium</p>
            </a>
        </section>

</section>