<section class="nav-top">
    <ul>
        <div class="menu-nav">
            <li><i class="fas fa-bars"></i></li>
            <li><button><p>Mensaje nuevo</p></button></li>
        </div>
        <div class="body">
            <ul>
                <div class="section-nav-top">
                    <li><i class="far fa-envelope-open"></i><p>Marcar todos como leido</p></li>
                    <li><i class="fas fa-undo"></i><p>Deshacer</p></li>
                </div>
                <div class="calendar">
                    <li>
                        <i class="far fa-calendar"></i>
                        <div>
                            <p>Próximo evento</p>
                            <p>19:00hs</p>
                        </div>
                    </li>
                </div>
            </ul>
        </div>
    </ul>
</section>